#loading-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  background-color: #451771;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-fill-mode: both;
  animation-duration: 500ms;
  transition: all 1s ease-out;
}

#app {
  display: flex;
  justify-content: center;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

#loading-overlay {
  animation-name: fadeOutUp;
}

#loading-overlay.open {
  animation-name: fadeInDown;
}
